body {
  font-family: Arial, sans-serif;
  background-color: #7ba2c9;
  margin: 0;
  padding: 0;
} 

.banner {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.banner-img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  max-height: 200px; 
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #e3099b;
}

input[type="button"],
input[type="buttonADD"],
input[type="buttonUP"] {
  padding: 10px 20px;
  background-color: #0466d0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

input[type="buttonADD"] {
  padding: 10px;
  max-width: 100px;
  background-color: #28a745;
}

input[type="buttonUP"] {
  padding: 10px;
  max-width: 100px;
  background-color: #28a745;
}

input[type="text"],
input[type="file"],
select,
input[type="number"] {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;

}

input[type="button"]:hover,
input[type="buttonADD"]:hover {
  background-color: #f632ae;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #dee2e6;
  text-align: center;
}

thead {
  background-color: #007bff;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

tbody tr:hover {
  background-color: #e2e6ea;
}

table td .edit-btn {
  padding: 8px 12px;
  background-color: #ffc107;
  color: #2674c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table td .edit-btn:hover {
  background-color: #ffca2c;
}

table td .delete-btn {
  padding: 8px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table td .detail-btn {
  padding: 8px 12px;
  background-color: #17ea04;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

.d-flex {
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
  font-size: 16px;
}
